.box1{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 40px;
}

.box2{
    /* Value of 1 : All sides */
    padding: 10px;

    /* Value of 2 : Top Bottom / Right Left */
    padding: 10px 20px;

    /* Value of 3 : Top / Right Left (Side) / Bottom */
    padding: 10px 20px 30px;

    /* Value of 4 :  Top / Right / Bottom / Left */
    padding: 10px 20px 30px 40px;
}

.box3{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 40px;
}

.box4{
    /* Value of 1 : All sides */
    margin: 10px;

    /* Value of 2 : Top Bottom / Right Left */
    margin: 10px 20px;

    /* Value of 3 : Top / Right Left (Side) / Bottom */
    margin: 10px 20px 30px;

    /* Value of 4 :  Top / Right / Bottom / Left */
    margin: 10px 20px 30px 40px;
}

.mix-borders{
    background-color: green;
    height: 80px;
    width: 200px;
    text-align: center;
    border-style: solid;
    border-style: dashed;
    border-style: dotted;
    border-style: double;

    border-width: 8px;
    border-color: tomato;

    /* SHORT HAND */
    border: dashed 5px blue ;
}

.circle-container{
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    color: white;
    border-radius: 10px;
    border-radius: 50%;
}